# =========================
# Node.js
# =========================
node_modules/
npm-debug.log*


# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Prisma
# =========================
prisma/migrations/
prisma/dev.db
prisma/*.db
prisma/*.db-journal

# =========================
# Build / Output
# =========================
dist/
build/
out/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.swp

# =========================
# Coverage / Tests
# =========================
coverage/
.nyc_output/

# =========================
# Misc
# =========================
.cache/
tmp/
temp/
